.container{
  max-width:1200px;
  margin: 0 auto;
}
.picture{
max-width: 500px;
max-height: 500px;
border: 1px solid #000;
border-radius: 10px;
margin-left: 10px;
box-shadow:5px 5px 10px #2B1015;
}

p{
  font-family: Arial, sans-serif;
  font-size: 18px;
  line-height: 1.4; 
  color: #333;
}
.text-left{
  margin-left: 50px;
}
.list{
  margin-top: 20px;
}
li{
  list-style: none; 
  font-weight: bold;
  line-height: 1.4;
}
a{
  text-decoration: none;
  font-weight: none;
  color: #333 ;
  font-size: 19px;
  display: inline-block;
  transition: 0.4s ease-in-out;
}
a:hover{
  color: rgb(113, 243, 108, 0.9);
  text-decoration: line-through;
  transition: 0.2s ease-in-out;
}
#notes1,#notes2,#notes3,#notes4,#notes5{
  color: #57ca40;
}