@font-face {
  font-family: 'Museo Sans Cyrl 300';
  src: url("MuseoSansCyrl-300.eot");
  src: url("MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("MuseoSansCyrl-300.woff") format("woff"), url("MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Cyrl bold';
  src: url("MuseoSansCyrl-700.eot");
  src: url("MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("MuseoSansCyrl-700.woff") format("woff"), url("MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Museo Sans Cyrl', sans-serif;
  font-weight: 300;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1178px;
  margin: 0 auto;
}

buttem {
  border-radius: 10px;
  background-color: #ffd200;
  padding: 18px 30px;
  border: none;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
  color: #333333;
}

.section {
  padding: 90px 0;
}

.section-title {
  font-size: 24px;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
}

.section-subtitle {
  font-size: 16px;
  display: block;
}

.input {
  border: 1px solid #dddddd;
  padding: 23px 26px;
  font-size: 15px;
  border-radius: 6px;
}

.menu {
  padding: 8px 0;
}

.menu-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 8px;
  margin-bottom: 3px;
}

.menu__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
  color: #333333;
  font-size: 13px;
  margin-bottom: 7px;
}

.menu__phone {
  color: #333333;
  font-size: 20px;
  letter-spacing: 0.3px;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
  text-decoration: none;
}

.menu__phone:hover {
  color: #ffd200;
}

.menu__btm {
  color: #333333;
  font-size: 13px;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
  margin-left: 30px;
}

.menu__btm:hover {
  background-color: #ffdb33;
  cursor: pointer;
}

.block {
  background-color: #f5f5f5;
}

.block-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-img {
  width: 18px;
  padding: 10px 12px;
  border-radius: 50%;
  border: 2px solid red;
}

.hero {
  padding-top: 50px;
  padding-bottom: 5px;
  background-color: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  padding-right: 80px;
}

.hero-text__title {
  color: #333333;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
  font-size: 41px;
  line-height: 55px;
  margin-top: 26px;
  margin-left: -5px;
  letter-spacing: -0.6px;
}

.hero-text__subtitle {
  color: #333333;
  display: inline-block;
  margin-bottom: 70px;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin-top: 36px;
  display: block;
  letter-spacing: -0.2px;
}

.hero-list {
  padding: 0;
}

.hero-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.6;
  margin-bottom: 22px;
  letter-spacing: -0.2px;
}

.hero-list__item:last-child {
  margin-bottom: 0;
}

.hero-list__image {
  width: 38px;
  height: 38px;
  border: 2px solid #ffd200;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-right: 30px;
}

.hero-list__text {
  max-width: 270px;
  color: #333333;
  font-size: 14px;
  line-height: 24px;
  margin-top: -8px;
}

.hero-image img {
  margin-left: 30px;
  margin-top: -4px;
}

.offer {
  padding-top: 56px;
  padding-bottom: 90px;
  background: url(../img/offer/offer-bg.png) no-repeat;
  background-size: contain;
  background-position: center right;
  position: relative;
}

.offer:before {
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.offer-block {
  width: 50%;
  padding-right: 90px;
  position: relative;
}

.offer__title {
  max-width: 360px;
  line-height: 35px;
  margin-bottom: 21px;
}

.offer__subtitle {
  max-width: 250px;
  margin-bottom: 30px;
}

.offer__imput {
  width: 240px;
  margin-bottom: 29px;
}

.offer__imput:first-child {
  margin-right: 10px;
}

.offer__buttem {
  width: 100%;
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-size: 16px;
}

.offer-telefon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 24px;
  padding-right: 19px;
}

.offer-telefon__call-back {
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.offer-manager {
  margin-left: -2px;
  letter-spacing: -0.6px;
  width: 223px;
  font-size: 15px;
  line-height: 24px;
  color: #333333;
}

.offer-telefon__tel {
  display: block;
  color: #333333;
  font-family: 'Museo Sans bold', sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}

.modal_active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modal-dialog {
  position: relative;
  margin: auto;
  max-width: 450px;
  width: 90%;
  min-width: 200px;
  background-color: #ffffff;
  padding: 40px;
}

.modal-dialog__close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 4px;
  background-color: #dddddd;
  cursor: pointer;
  border: 1px solid;
  border-radius: 0px;
}

@media (max-width: 1250px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .hero {
    padding-left: 10px;
  }
  .hero-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .hero-list {
    margin-bottom: 44px;
  }
  .hero-text {
    padding-right: 0;
    margin: 0 auto;
  }
  .hero-text__title {
    max-width: 700px;
  }
  .hero-image {
    margin: 0 auto;
  }
  .offer {
    background-size: cover;
  }
  .offer__text {
    line-height: 30px;
  }
  .offer__imput {
    width: 100%;
    margin-bottom: 10px;
  }
  .offer__buttem {
    font-size: 15px;
  }
}

@media (max-width: 1113px) {
  .offer-telefon {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-call {
    margin-top: 10px;
  }
  .offer-block {
    padding-right: 20px;
  }
}

@media (max-width: 768px) {
  .offer {
    background: #ffffff;
  }
  .offer-block {
    width: 100%;
    padding-right: 0;
  }
  .hero {
    padding-left: 7px;
    padding-top: 16px;
    padding-bottom: 28px;
  }
  .hero-image img {
    margin-left: 0;
    margin-top: 0;
  }
  .hero-text h1 {
    margin-bottom: 0;
  }
  .hero-text__title {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 13px;
    width: 100%;
  }
  .hero-text__subtitle {
    font-size: 16px;
    margin-bottom: 28px;
  }
  .hero-image img {
    margin-left: 0;
  }
  .hero-list__item {
    margin-bottom: 20px;
  }
  .hero-list__text {
    max-width: 210px;
    font-size: 12px;
  }
  .hero-list__image {
    margin-right: 15px;
  }
  .offer-telefon {
    margin-top: 15px;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
  }
  .offer-call {
    margin-top: 0;
  }
}

@media (max-width: 600px) {
  .menu__contacts {
    display: none;
  }
  .offer-telefon {
    margin-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .offer-call {
    margin-top: 10px;
  }
}

@media (max-width: 406px) {
  .menu {
    padding-top: 19px;
    padding-bottom: 15px;
  }
  .menu-block {
    margin-left: 0;
    padding-top: 0;
  }
  .menu__logo {
    max-width: 91px;
    margin-left: 0;
  }
  .menu__btm {
    font-size: 10px;
    padding: 15px 26px;
    margin-right: 1px;
    margin-left: 0;
  }
  .menu__info {
    margin-right: 1px;
    margin-bottom: 4px;
  }
  bottom {
    border-radius: 6px;
    margin-bottom: 0;
  }
  .hero-list {
    margin-left: -3px;
    margin-bottom: 28px;
  }
  .hero-list__item {
    margin-bottom: 13px;
  }
  .hero-list__text {
    line-height: 14px;
  }
  .hero-image img {
    margin-left: -6px;
    max-width: 106%;
  }
  .hero-text__subtitle {
    margin-top: 10px;
  }
  .offer {
    padding-top: 35px;
  }
  .offer__title {
    line-height: 22px;
    margin-bottom: 15px;
  }
  .offer__subtitle {
    margin-bottom: 24px;
  }
  .offer__buttem {
    padding-top: 15px;
    padding-bottom: 21px;
  }
  .offer-telefon {
    margin-top: 20px;
    margin-left: 9px;
  }
  .section-title {
    font-size: 18px;
  }
  .section-title-subtitle {
    font-size: 14px;
  }
  .input {
    padding: 23px 21px;
    border-radius: 10px;
  }
}
/*# sourceMappingURL=style.css.map */