body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #f6f6f6;
}
.product-center{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}
.product-item{
  width: 1010px;
  height: 510px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -508px;
  transition: .4s linear;
  border: 1px solid #d7d7d7;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.product-img{
  max-width: 375px;
  height: 100%;
  display: inline-block;
  margin-top: 64px;
  margin-left: 48px;
  margin-right: 100px;
}
.product-img img:hover {
  transform: scale(1.1);
}
.product-img img {
  transition: 1s ease-in-out;
  width: 97%;
}
.product{
  max-width: 400px;
  min-height: 350px;
  vertical-align: top;
  display: inline-block;
  margin-top: 64px;
  margin-right: 60px;
}
.product-text{
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 15px;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 55px;
}
.price-numbers{
  color: #2f2f2f;
  font-family: "Arial MT";
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 56px;
}
a.cart-button{
  padding: 16px 36px;
  text-decoration: none;
  font-size: 19px;
  color: #ffffff;
  background-color: #ec744a;
}
a.cart-button:hover {
  background-color: #ec4508; 
}